.dashboard-header {
  margin-bottom: 16px;
}

.diagram-controls {
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 20;
  border-radius: 4px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.diagram-content {
  transition: transform 0.18s ease;
  transform-origin: 0 0;
  width: 100%;
}

.diagram-content.zoomed {
  transform: scale(1.35);
}

.scrollable-box {
  min-width: 800px; /* Horizontal scroll */
  height: 545px; /* Vertical scroll */
  overflow: auto;
  border: 1px dashed #ddd;
  padding: 8px;
}

.tab-content {
  padding: 8px;
}

.ask-button {
  position: absolute;
  top: 115px;
  right: 55px;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}

.chart-item {
  flex: 1 1 45%;
  min-width: 250px;
  max-width: 350px;
}

.tables-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.table-item h3 {
  margin-bottom: 8px;
  color: #1890ff;
}
